/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

html{
  min-height: 100%;
  overflow: hidden;
  background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #6570c8, #385dbb, #428ef2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #65a7c8, #229ac6, #5792de); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400%;
    animation: bg-animation 8s alternate infinite;
}

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(0,0,0,.75);
  font-family: 'Anonymous Pro', monospace;  
}

li {
    display: inline;
}

ul {
    padding: 0;
}

li:not(:last-child) {
    margin-right: 1rem;
}

.header{
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(105,105,105,.75);
    font-size: 400%; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.links {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(17) 1s 1 normal both,
             blinkTextCursor 500ms steps(17) infinite normal;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9.25em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}